---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import BaseHead from '../components/BaseHead.astro'
import FormattedDate from '../components/FormattedDate.astro'
import Layout from '../layouts/Layout.astro'

type Props = CollectionEntry<'blog'>['data'] & { slug: string }

const { title, description, pubDate, heroImage, slug } = Astro.props
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} image={heroImage.src} />
  </head>

  <body class='bg-slate-900 text-aux1'>
    <Layout>
      <main>
        <article class='mt-12 mb-32 mx-8'>
          <div>
            {
              heroImage && (
                <Image
                  width={1020}
                  height={510}
                  src={heroImage}
                  alt=''
                  class='rounded-xl'
                />
              )
            }
          </div>
          <div
            class='max-w-full prose prose-invert prose-violet prose-headings:text-main prose-p:text-aux1 prose-strong:text-aux1 prose-code:text-aux1 prose-ul:text-aux1 prose-img:rounded-xl prose-code:font-jetbrains prose-pre:font-jetbrains'
          >
            <h1 class='my-4 text-5xl'>{title}</h1>
            <div class='text-main'><FormattedDate date={pubDate} /></div>
            <hr class='my-4' />
            <slot />
          </div>
        </article>
      </main>
    </Layout>
  </body>
</html>
