---
import type { CollectionEntry } from 'astro:content'
import { Image } from "astro:assets";
import BaseHead from '../components/BaseHead.astro'
import FormattedDate from '../components/FormattedDate.astro'
import Layout from '../layouts/Layout.astro'

type Props = CollectionEntry<'blog'>['data'] & { slug: string }

const { title, description, pubDate, heroImage, slug } = Astro.props
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class='bg-slate-900 text-violet-200'>
    <Layout>
    <main>
      <article>
        <div>
          {
            heroImage && (
              <Image
                width={1020}
                height={510}
                src={heroImage}
                alt=''
		transition:name=`${slug}`
              />
            )
          }
        </div>
        <div class='max-w-full prose prose-invert prose-violet prose-headings:text-amber-500 prose-p:text-violet-300 prose-strong:text-violet-400 prose-code:text-violet-300 prose-ul:text-violet-200 prose-img:rounded-xl'>
	  <h1 class='my-4'>{title}</h1>
	  <FormattedDate date={pubDate} />
	  <hr class='my-4' />
          <slot />
        </div>
      </article>
    </main>
    </Layout>
  </body>
</html>
